<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/pages/template.xhtml">

	<ui:define name="main">

		<p:dataTable id="usuarios" var="u" value="#{usuarioConsulta.usuarios}"
			editable="true" style="margin-bottom:20px">
			<f:facet name="header">Usuários</f:facet>

			<p:ajax event="rowEdit" listener="#{usuarioConsulta.onRowEdit}" />
			<p:ajax event="rowEditCancel"
				listener="#{usuarioConsulta.onRowCancel}" />

			<p:column headerText="E-mail">
				<h:outputText value="#{u.email}" />
			</p:column>

			<p:column headerText="Ativo" style="width:100px;text-align: center">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{u.ativo}" />
					</f:facet>
					<f:facet name="input">
						<p:selectBooleanButton value="#{u.ativo}" onLabel="Sim"
							offLabel="Não" style="width:60px" />
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column style="width:32px">
				<p:rowEditor />
			</p:column>

			<f:facet name="footer">
				<p:commandButton value="Cadastrar Usuário"
					action="#{controller.cadastrarUsuario()}" />
			</f:facet>
		</p:dataTable>

	</ui:define>

</ui:composition>
