<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script type="text/javascript">
		function disconnectUser() {
			var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' + access_token;

			// Realizar uma solicitação GET assíncrona.
			$.ajax({
				type: 'GET',
				url: revokeUrl,
				async: false,
				contentType: "application/json",
				dataType: 'jsonp',
				success: function(nullResponse) {
					// Fazer algo agora que o usuário está desconectado
					// A resposta é sempre indefinida.
					logout();
				},
				error: function(e) {
					// Gerenciar o erro
					console.log(e);
					// Você pode apontar usuários para desconectar manualmente se não for bem-sucedido
					// https://plus.google.com/apps
				}
			});
		}
	</script>

	<ui:insert name="header"></ui:insert>

</h:head>
<h:body>

	<ui:include src="/status.xhtml" />


	<ui:insert name="menu">

		<h:form id="formulariomenu">

			<div class="ui-grid ui-grid-responsive">

				<div class="ui-grid-row">

					<div class="ui-grid-col-12">
						<p:menubar>

							<p:menuitem icon="ui-icon-home" action="#{controller.home()}" />

							<p:submenu label="Estudo" icon="ui-icon-note">
								<p:menuitem value="Cadastro" icon="ui-icon-plus"
									action="#{controller.cadastrarEstudo()}" />
								<p:menuitem value="Consulta" icon="ui-icon-search"
									action="#{controller.consultarUsuarioEstudo()}" />
							</p:submenu>

							<p:submenu label="Administração" icon="ui-icon-gear"
								rendered="#{ sessionAuth.usuario.email == 'mhguara@gmail.com' }">
								<p:menuitem value="Usuários" icon="ui-icon-person"
									action="#{controller.consultarUsuario()}" />
								<p:menuitem value="Matérias" icon="ui-icon-document"
									action="#{controller.consultarMateria()}" />
							</p:submenu>

							<f:facet name="options">
								<p:commandButton value="Logout" icon="ui-icon-extlink"
									action="#{signin.logout()}" ajax="false" />
							</f:facet>
						</p:menubar>

					</div>

				</div>

			</div>

		</h:form>

	</ui:insert>

	<h:form id="formulario">

		<p:growl autoUpdate="true" showDetail="true" sticky="true" />

		<div class="ui-grid ui-grid-responsive">

			<ui:insert name="main"></ui:insert>

		</div>

	</h:form>

</h:body>
</html>
