<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/pages/template.xhtml">

	<ui:define name="main">

		<p:panelGrid columns="2">
			<f:facet name="header">
				<p:row>
					<p:column colspan="2">Cadastrar Matéria</p:column>
				</p:row>
			</f:facet>
			<p:outputLabel for="sigla" value="Sigla:" />
			<p:inputText id="sigla" required="true" value="#{materia.sigla}" maxlength="15" />
			<p:outputLabel for="nome" value="Nome:" />
			<p:inputText id="nome" required="true" value="#{materia.nome}" />
			<f:facet name="footer">
				<p:commandButton value="Cadastrar" action="#{materia.cadastrar()}" />
			</f:facet>
		</p:panelGrid>

	</ui:define>

</ui:composition>
