@CHARSET "UTF-8";

#relogio {
	font-size: 3.5em;
	text-align: center;
}

.ui-selectonemenu-label {
	width: 100% !important;
	padding-right: 0px !important;
}

.ui-selectonemenu {
	width: 100% !important;
}

.colunaTempo {
	width: 80px;
}

.colunaDataHora {
	width: 200px;
}

.ui-grid-row {
	margin-bottom: 1em;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}