<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/pages/template.xhtml">

	<ui:define name="main">

		<div class="ui-grid-row">

			<p:dataTable id="estudos" var="e"
				value="#{consultaEstudoController.estudos}"
				style="margin-bottom:20px">
				<!-- selection="#{usuarioEstudo.bean}" selectionMode="single" rowKey="#{e.id}"> -->
				<f:facet name="header">Estudos</f:facet>

				<p:column headerText="Nome" sortBy="#{e.nome}">
					<h:outputText value="#{e.nome}" />
				</p:column>

				<p:column headerText="Início" sortBy="#{e.inicio}"
					style="width: 100px" styleClass="text-center">
					<h:outputText value="#{e.inicio}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>

				<p:column headerText="Fim" sortBy="#{e.fim}" style="width: 100px"
					styleClass="text-center">
					<h:outputText value="#{e.fim}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>

				<p:column style="width:32px;text-align: center">
					<p:commandButton icon="ui-icon-pencil" title="Alterar"
						action="#{consultaEstudoController.alterar(e)}" />
				</p:column>

				<p:column style="width:32px;text-align: center">
					<p:commandButton update="@form" icon="ui-icon-close"
						title="Remover"
						actionListener="#{consultaEstudoController.remover(e)}">
						<p:confirm header="Confirmação"
							message="Você deseja excluir o estudo?" icon="ui-icon-alert" />
					</p:commandButton>
				</p:column>

				<f:facet name="footer">
					<p:commandButton value="Cadastrar"
						action="#{controller.cadastrarEstudo()}" />
				</f:facet>
			</p:dataTable>

		</div>

		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
			closeOnEscape="true">
			<p:commandButton value="Sim" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="Não" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>
	</ui:define>

</ui:composition>
