<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<h:outputScript library="primefaces" name="jquery/jquery.js"
		target="head" />
	<h:outputScript library="primefaces" name="jquery/jquery-plugins.js"
		target="head" />
</h:head>

<h:body>

	<ui:include src="/status.xhtml" />

	<h:form id="formulario" prependId="false">

		<p:remoteCommand name="login" action="#{signin.login}" />

		<h:inputHidden id="code" value="#{signin.code}" />

		<div id="gConnect">
			<span id="signinButton"> <span class="g-signin"
				data-callback="signinCallback"
				data-clientid="922484590682-l73t8pjbm218u0usnfn122i6j763ppqg.apps.googleusercontent.com"
				data-cookiepolicy="single_host_origin"
				data-requestvisibleactions="http://schemas.google.com/AddActivity"
				data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email">
			</span>
			</span>
		</div>

	</h:form>

</h:body>

<script type="text/javascript">
	(function() {
		var po = document.createElement('script');
		po.type = 'text/javascript';
		po.async = true;
		po.src = 'https://apis.google.com/js/client:plusone.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(po, s);
	})();

	function signinCallback( authResult ) {
		if ( authResult[ 'access_token' ] ) {
			document.getElementById( 'code' ).value = authResult.code;
			// access_token = authResult['access_token'];
			// Autorizado com sucesso
			// Ocultar o botão de login agora que o usuário está autorizado, por exemplo:
			document.getElementById('signinButton').setAttribute('style', 'display: none');
			login();
		} else if ( authResult[ 'error' ] ) {
			// Ocorreu um erro.
			// Possíveis códigos de erro:
			//  "access_denied" - o usuário negou o acesso a seu aplicativo
			//   "immediate_failed" - não foi possível fazer o login do usuário automaticamente
			console.log('There was an error: ' + authResult['error']);
		}
	}
</script>

</html>
