<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:body>

	<p:ajaxStatus onstart="PF('statusDialog').show();"
		onsuccess="PF('statusDialog').hide();" />

	<p:dialog modal="true" widgetVar="statusDialog" draggable="false"
		closable="false" resizable="false" showHeader="false"
		position="center">
		<p:graphicImage value="/images/ajax-loader.gif" />
	</p:dialog>

</h:body>
</html>
